
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}

a{
    text-decoration: none;
}
 




 

:root {
  --theme-color: #3867d6;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background: hwb(198 83% 12%);
}

/* logo ----------  */


.header h1
{
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}



section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
}

.header .logo span {
  color: var(--theme-color);
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 2rem;
  /* cursor: pointer; */
}

.header .navbar a:hover {
  color: var(--theme-color);
}

#menu-bars {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}

.home .content h3 {
  color: #120808;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--theme-color);
  text-transform: uppercase;
}


.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #080202;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: var(--theme-color);
}

.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 50rem;
  width: 35rem;
}

.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #060404;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: var(--theme-color);
  text-transform: uppercase;
}

/* slider section  */
 




/* Menu container styling */
.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
    margin: 40px auto;
    max-width: 100%;
  }
  
   
  /* Menu card styling */
  .menu-card {
    width: 400px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
  }
  
  .menu-front, .menu-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .menu-front {
    background-color: #484a4b0e;
  }
  
  .menu-front img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
  
  .menu-front h2 {
    margin: 10px ;
    color: #333;
    align-items: center;
    text-align: center;
    /* font-size: 18px; */
  }
  .menu-front p{
    margin: -10px ;
    color: #0c0101;
    font-size: 12px;
    align-items: center;
    text-align: center;
    gap: 2px;
  }
  .menu-back {
    background-color: #000202;
    color: #fff;
    font-size: 14px;
    transform: rotateY(180deg);
    padding: 20px;
  }
  
  .menu-card:hover .menu-front {
    transform: rotateY(180deg);
  }
  
  .menu-card:hover .menu-back {
    transform: rotateY(0);
  }
  
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}




.footer {
    background: #111;
    width: 100%;

  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    /* width: 100%; */
  }
  
  .footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;
  }
  
  .footer .box-container .box a i {
    padding-right: 0.5rem;
    color: var(--theme-color);
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 1.5rem;
    color: #fff;
  }
  
  .footer .credit {
    text-align: center;
    border-top: 0.1rem solid #222;
    color: #fff;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
  }
  
  .footer .credit span {
    color: var(--theme-color);
  }






